.container {
    text-align: center;
    width: 95vw;
    max-width: 76rem;
}

.summaryWrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.toolbar {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.toolbar__items {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.summary {
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-size: 1.2rem;
    border-radius: 8px;
    flex: 1;
    min-width: 350px;
    height: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
}

.budgetBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 2rem;
  
}
/* 
.expenses__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
} */

.expenses__box_title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%)
}

.table__header {
    display: flex;
    justify-content: flex-start;
    width: 100%;

}


.table__wrapper {
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    width: 100%;
}


.table__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    background-color: #d5d5d5;
    border: none;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    padding: 1rem;
    transition: 200ms ease-out;
    cursor: pointer;
}

.table__button:hover {
    background-color: #baf99a;
}

.add__btn {

    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #2db400;
    transition: 200ms ease-out;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.add__btn:hover {
    background-color: #1f7b00;
}


.add__btn:before,
.add__btn:after {
    content: "";
    position: absolute;
    background-color: white;
    transition: 200ms ease-out;
}

.add__btn:before {
    top: 10px;
    left: 50%;
    width: 5px;
    height: 30px;
    transform: translateX(-50%);
}
.add__btn:after {
    top: 50%;
    left: 10px;
    height: 5px;
    width: 30px;
    transform: translateY(-50%);
}

